// Sitewide configuration
$site-background-color: #f6f6f6;
$site-font-family : 'Open Sans', sans-serif;
$site-font-size: 14px;
$site-input-height: 36px;
$site-text-highlight-color: rgba(230,126,34, 0.5);

// Button configuration
$button-min-width: 120px;
$button-padding: 6px 12px;
$button-text-weight: 700;
$button-type : "flat"; //[regular, ghost, flat]
$button-border-radius: 15px;

// Text
$text-color-dark: #555;
$text-color-light: #eee;

// Colors
$blue: #5690CA;
$green: #5ab209;
$yellow: #E5AE35;
$orange: #E67E22;
$red: #f45f45;
$default-color: #59697D;

$hover-shade: 5%;
$blue-hover: darken($blue, $hover-shade);
$green-hover: darken($green, $hover-shade);
$yellow-hover: darken($yellow, $hover-shade);
$orange-hover: darken($orange, $hover-shade);
$red-hover: darken($red, $hover-shade);
$default-color-hover: darken($default-color, $hover-shade);