// Sitewide configuration
$site-background-color: #f6f6f6;
$site-font-family : 'Open Sans', sans-serif;
$site-font-size: 14px;
$site-input-height: 36px;
$site-text-highlight-color: rgba(230,126,34, 0.5);

// Button configuration
$button-min-width: 120px;
$button-padding: 6px 12px;
$button-text-weight: 700;
$button-type : "regular"; //[regular, ghost]
$button-border-radius: 0px;

// Text
$text-color-dark: #555;
$text-color-light: #eee;

// Colors
$blue: #4E58C7;
$green: #04AC50;
$yellow: #FBB822;
$orange: #E67E22;
$red: #f45f45;
$default-color: #607D8B;

$hover-shade: 5%;
$blue-hover: darken($blue, $hover-shade);
$green-hover: darken($green, $hover-shade);
$yellow-hover: darken($yellow, $hover-shade);
$orange-hover: darken($orange, $hover-shade);
$red-hover: darken($red, $hover-shade);
$default-color-hover: darken($default-color, $hover-shade);

/*********** Index *****************

	01: Sitewide styling
	02: Text color classes
	03: Color classes [with hover effects]
	04: Color classes [without hover effects]
	05: Button styling
	06: Form component styling
	07: Custom checkbox styling
	08: Bootstrap Panels
	09: Bootstrap Tables
	10: Validation helpers
	11: Media queries
***********************************/


/* Sitewide styling
***********************************/
*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	font-family: $site-font-family;
	color: $text-color-dark;
	font-size: $site-font-size;
	-webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
html, body {
    background-color: $site-background-color;
}
::selection{
	background-color: $site-text-highlight-color;
}
hr {
    background: 0 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
}
h1, h2, h3, h4{
    font-weight: 500;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
header{
	display: inline-block;
	background-color: $default-color;
    width: 100%;
    height: 100px;
    z-index: 1030;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    margin-bottom: 10px;
}
/* Sticky footer
**************************************/
//The html and body elements cannot have any padding or margin.
html,
body {
  height: 100%; 
}
//Wrapper for page content to push down footer 
#contentWrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height + margin-top value*/
    margin: 0 auto -140px;
    width: 100%;
    padding: 0;    
}
footer {
    height: 100px;
    line-height: 80px;
    margin-top: 40px;    
    padding: 10px;
    background-color: $default-color;
    color: #eee;
    text-align: center;
}
footer span{color: #eee;}

/*	Text colors
***********************************/
.text-color-dark{color: $text-color-dark;}
.text-color-light{color: $text-color-light;}

/*	Color Classes [with hover effects]
***********************************/
.blue{ background-color: $blue; }
.green{background-color: $green;}
.yellow{background-color: $yellow;}
.orange{background-color: $orange;}
.red{background-color: $red;}
.default-color{background-color: $default-color;}

.blue:hover{ background-color: $blue-hover; }
.green:hover{background-color: $green-hover;}
.yellow:hover{background-color: $yellow-hover;}
.orange:hover{background-color: $orange-hover;}
.red:hover{background-color: $red-hover;}
.default-color:hover{background-color: $default-color-hover;}

/*	Color Classes [without hover effects]
***********************************/
.blue-no-hover{ background-color: $blue; }
.green-no-hover{background-color: $green;}
.yellow-no-hover{background-color: $yellow;}
.orange-no-hover{background-color: $orange;}
.red-no-hover{background-color: $red;}
.default-color-no-hover{background-color: $default-color;}

/* Button styling
***********************************/
.button{
	border-radius: $button-border-radius;
	color: $text-color-light;
	cursor: pointer;
	display: inline-block;
	font-weight: $button-text-weight;
	margin: 0 2px 2px 0;	
	min-width: $button-min-width;
	outline: none;
	padding: $button-padding;
	text-align: center;
	text-decoration: none;
    border: none;		
    box-sizing: border-box;
    text-transform: capitalize;
}

@if $button-type == 'regular'
{
/* Regular button configuration
***********************************/
	.button{
		border-bottom: 2px solid transparent;
	}
	.button:hover{
		border-bottom: 2px solid rgba(0,0,0,0.3);	
	}
}

@if $button-type == 'ghost'
{
/* Ghost button configuration
***********************************/
	.button{
		background-color: transparent;
		border: 2px solid transparent;	
	}

	.button.blue{
		color: $blue;
		border-color: $blue;
	}
	.button.green{
		color: $green;
		border-color: $green;
	}
	.button.yellow{
		color: $yellow;
		border-color: $yellow;
	}
	.button.orange{
		color: $orange;
		border-color: $orange;
	}
	.button.red{
		color: $red;
		border-color: $red;
	}
	.button.default-color{
		color: $default-color;
		border-color: $default-color;
	}
	
	.button:hover{
		color: $text-color-light;		
	}
	.button.blue:hover{
		background-color: $blue-hover;
		border-color: $blue-hover;
	}
	.button.green:hover{
		background-color: $green-hover;
		border-color: $green-hover;
	}
	.button.yellow:hover{
		background-color: $yellow-hover;
		border-color: $yellow-hover;
	}
	.button.orange:hover{
		background-color: $orange-hover;
		border-color: $orange-hover;
	}
	.button.red:hover{
		background-color: $red-hover;
		border-color: $red-hover;
	}
	.button.default-color:hover{
		background-color: $default-color-hover;
		border-color: $default-color-hover;
	}
}


/* Form component styling
 ***********************************/
 label {
    width: 100%;
    font-weight: 700;
}
input[type=text], 
input[type=password], 
input[type=url], 
select {
    width: 100%;
    border: none;
    background-color: #fff;
    outline: 0;
    padding: 5px 10px;
    height: $site-input-height;
    border-bottom: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text]:focus, 
input[type=password]:focus, 
input[type=url]:focus, 
select:focus {
    border-bottom: 1px solid $default-color;
}

/* Custom checkbox styling
 ***********************************/
.checkboxWrap input[type=checkbox] {
    position: absolute;
    opacity: 0;
    display: none;
}
.checkboxWrap input[type=checkbox] ~ label {
    display: inline-block;
    width: $site-input-height;
    min-width: 0;
    height: $site-input-height;
    line-height: $site-input-height;
    border-radius: 50%;
    padding: 0;
    text-align: center;    
    background-color: #bbb;
    float: none;
    cursor: pointer;
    margin: 0;
    margin-right: 10px;
}
.checkboxWrap input[type=checkbox]:checked ~ label {
    background-color: $default-color;
}
.checkboxWrap input[type=checkbox] ~ label:before {
    content: '\e81c';
    font-family: "fontello";
    cursor: pointer;
    color: #eee;
}
.checkboxWrap input[type=checkbox]:checked ~ label:before {
    content: '\e81c';
    color: #fff;
}

/* Bootstrap Panels
****************************/
.panel.panel-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.panel.panel-default .panel-heading {
    background-color: $default-color;
    border-radius: 0;
    border: none;
    font-size: 16px;
    color: #eee;
}
.panel.panel-default .panel-body {
    border: none;
    background-color: #fff;
}
.panel.panel-default .panel-body ul {
    list-style: disc;
    margin-left: 15px;
}
.panel.panel-default .panel-body ul li {
    padding: 3px;
}

/* Bootstrap Tables
****************************/
.table {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.table tbody tr td, .table thead tr td {
    border: none;
}
.table thead {
    border-right: 1px solid $default-color;
    border-left: 1px solid $default-color;
}
.table thead tr th {
    background-color: $default-color;
    color: #eee;
    font-size: 16px;
    border-bottom: none;
}
.table tbody {
    border: 1px solid #e1e4e7;
    border-top: none;
}
.table tbody tr:nth-child(even) td {
    background-color: #e1e4e7;
}
.table tbody tr td:not(:last-child) {
    border-right: 1px solid #ced2d8;
}

/* Bootstrap Tooltips & Popovers
****************************/
.popover .popover-title, [class^=tooltip] .tooltip-inner {
    background-color: $default-color;
}
 .tooltip.top .tooltip-arrow {
    border-top-color: $default-color;
}
.tooltip.right .tooltip-arrow {
    border-right-color: $default-color;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $default-color;
}
.tooltip.left .tooltip-arrow {
    border-left-color: $default-color;
}
.popover {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.popover .popover-title {
    color: #eee;
    font-weight: 700;
    border-radius: 0;
}

/* Validation helpers
***************************************/
.validation-summary-errors, 
.field-validation-valid,
.field-validation-error,
.validation-summary-errors {
    display: none;
}
div[class^="col-"] input.input-validation-error,
div[class^="col-"] select.input-validation-error,
div[class^="col-"] textarea.input-validation-error,
div[class^="col-"] .input-validation-error.form-control.k-textbox,
input.input-validation-error,
select.input-validation-error,
textarea.input-validation-error,
.input-validation-error.form-control.k-textbox .k-widget .k-dropdown-wrap .k-input.input-validation-error.form-control,
.k-widget.k-combobox.k-header.form-control .k-dropdown-wrap.k-state-default input[type="text"].input-validation-error:hover,
.k-widget.k-combobox.k-header.form-control .k-dropdown-wrap.k-state-default.k-state-hover input[type="text"].input-validation-error:hover {
    background-color: #feedec;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}













/* Media queries
***************************************/
//Custom CSS For Extra Small creens
@media (max-width: 767px) {
    .button {width: 100%;}
}

//Custom CSS For Small Screens
@media (min-width: 768px) and (max-width: 991px) {

}

//Custom CSS for medium screens*/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

//Custom CSS For Larger Screens*/
@media (min-width: 1200px) {

}
