@import './SASS/_configuration';

/* 	Button configuration
*****************************************/
.button{
	height: 40px;
	border: 2px solid transparent;
	border-radius: 30px;
	padding: 0 30px;
	font-weight: 700;
	background-color: transparent;
}
.button.blue{
	color: $blue;
	border-color: $blue;
}
.button.green{
	color: $green;
	border-color: $green;
}
.button.yellow{
	color: $yellow;
	border-color: $yellow;
}
.button.orange{
	color: $orange;
	border-color: $orange;
}
.button.red{
	color: $red;
	border-color: $red;
}
.button.default-color{
	color: $default-color;
	border-color: $default-color;
}

/*Hovers
*****************************************/
.button:hover,
.button:focus{
	color: $text-color-light;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.button.blue:hover,
.button.blue:focus{
	background-color: $blue-hover;
	border-color: $blue-hover;
}
.button.green:hover,
.button.green:focus{
	background-color: $green-hover;
	border-color: $green-hover;
}
.button.yellow:hover,
.button.yellow:focus{
	background-color: $yellow-hover;
	border-color: $yellow-hover;
}
.button.orange:hover,
.button.orange:focus{
	background-color: $orange-hover;
	border-color: $orange-hover;
}
.button.red:hover,
.button.red:focus{
	background-color: $red-hover;
	border-color: $red-hover;
}
.button.default-color:hover,
.button.default-color:focus{
	background-color: $default-color-hover;
	border-color: $default-color-hover;
}
