/* Button styling
***********************************/
.button {
  border-radius: 15px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0 2px 2px 0;
  min-width: 120px;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize; }

.button {
  text-transform: uppercase;
  border-radius: 0;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
  border: 1px solid rgba(0, 0, 0, 0.1); }

.button:hover, .button:focus {
  border-color: transparent; }
