/*	Text colors
***********************************/
.text-color-dark {
  color: #555; }

.text-color-light {
  color: #eee; }

/*	Color Classes [with hover effects]
***********************************/
.blue {
  background-color: #5690CA; }

.green {
  background-color: #5ab209; }

.yellow {
  background-color: #E5AE35; }

.orange {
  background-color: #E67E22; }

.red {
  background-color: #f45f45; }

.default-color {
  background-color: #59697D; }

.blue:hover {
  background-color: #4383c4; }

.green:hover {
  background-color: #4e9a08; }

.yellow:hover {
  background-color: #e2a51e; }

.orange:hover {
  background-color: #d67118; }

.red:hover {
  background-color: #f34a2d; }

.default-color:hover {
  background-color: #4e5c6e; }

/*	Color Classes [without hover effects]
***********************************/
.blue-no-hover {
  background-color: #5690CA; }

.green-no-hover {
  background-color: #5ab209; }

.yellow-no-hover {
  background-color: #E5AE35; }

.orange-no-hover {
  background-color: #E67E22; }

.red-no-hover {
  background-color: #f45f45; }

.default-color-no-hover {
  background-color: #59697D; }
