/* Sitewide styling
***********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 14px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

html, body {
  background-color: #f6f6f6; }

::selection {
  background-color: rgba(230, 126, 34, 0.5); }

hr {
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

h1, h2, h3, h4 {
  font-weight: 500; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

header {
  display: inline-block;
  background-color: #59697D;
  width: 100%;
  height: 100px;
  z-index: 1030;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px; }

/* Sticky footer
**************************************/
html,
body {
  height: 100%; }

#contentWrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height + margin-top value*/
  margin: 0 auto -140px;
  width: 100%;
  padding: 0; }

footer {
  height: 100px;
  line-height: 80px;
  margin-top: 40px;
  padding: 10px;
  background-color: #59697D;
  color: #eee;
  text-align: center; }

footer span {
  color: #eee; }

/* Validation helpers
***************************************/
.validation-summary-errors,
.field-validation-valid,
.field-validation-error,
.validation-summary-errors {
  display: none; }

div[class^="col-"] input.input-validation-error,
div[class^="col-"] select.input-validation-error,
div[class^="col-"] textarea.input-validation-error,
div[class^="col-"] .input-validation-error.form-control.k-textbox,
input.input-validation-error,
select.input-validation-error,
textarea.input-validation-error,
.input-validation-error.form-control.k-textbox .k-widget .k-dropdown-wrap .k-input.input-validation-error.form-control,
.k-widget.k-combobox.k-header.form-control .k-dropdown-wrap.k-state-default input[type="text"].input-validation-error:hover,
.k-widget.k-combobox.k-header.form-control .k-dropdown-wrap.k-state-default.k-state-hover input[type="text"].input-validation-error:hover {
  background-color: #feedec; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }
